

.pcompleted {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h5 {
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

h6 {
    font-family: 'Oswald', sans-serif;
    text-align: left;
}