
.logo
{
  width:150px;
  height:103px;
}

ul{
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #131139;

}

.bar{
  /* -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22); */
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  z-index: 99;
  margin-bottom: 0px;
}